// *****
// * Custom Styles
// *****
/* Index page*/
.page-auctions-listing {
  padding: 0 0 20px;
}
@media (min-width: @screen-sm-min) {
  .panels-list {
    column-count: 2;
    column-gap: 20px;
  }
}
.panel-auction {
  display: inline-block;
  width: 100%;
}
.panel-auction .btn {
  border-radius: 4px;
}