{% set controller = "ArchiveController" %}
{% extends "base/base.html" %}
{% block head %}
    <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important;}</style>
    <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
    <link href="/static/css/all.css" rel="stylesheet" crossorigin="anonymous">
    <title>Auctions archive</title>
{% endblock %}
{% block body %}
  <body class="page-auctions-listing">
    <noscript>
      For full functionality of this site it is necessary to enable JavaScript.
      Here are the http://www.enable-javascript.com
      instructions how to enable JavaScript in your web browser.
    </noscript>
    {% raw %}
      <div class="container" ng-cloak>
        <div class="page-header">
          <h1>Auctions archive</h1>
        </div>
        <nav ng-if="offset && startid">
          <ul class="pager">
            <li class="next"><a href="?offset={{offset}}&startid={{startid}}">Next page<span aria-hidden="true">&rarr;</span></a></li>
            <li class="previous"><a href="/archive"><span aria-hidden="true">&larr;</span>First page</a></li>
          </ul>
        </nav>
        <div class="panels-list">
          <div class="panel panel-auction"
               ng-class="{true: 'panel-default', false: 'panel-success'}[auction.doc.current_phase === 'announcement']"
               ng-repeat="auction in auctions">
            <div class="panel-heading">
              <h3 class="panel-title"
                  ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') >= 0">
                <a href="/insider-auctions/{{ auction.doc._id }}">
                  Auction <strong>{{ auction.doc.auctionID }}</strong>
                </a>
              </h3>
              <h3 class="panel-title"
                  ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') === -1">
                <a href="/auctions/{{ auction.doc._id }}">
                  Auction <strong>{{ auction.doc.auctionID }}</strong>
                </a>
              </h3>
              <small>
                Start Date: <strong>{{ auction.doc.stages[0].start | date:"MM/dd/yyyy 'at' HH:mm:ss" }}</strong>
                <span ng-if="auction.doc.current_phase === 'announcement'">- End Date: <strong>{{ auction.doc.endDate | date:"MM/dd/yyyy 'at' HH:mm:ss" }}</strong></span>
              </small>
            </div>
            <div class="panel-body">
              <h4>
                {{ auction.doc.title }}
              </h4>
              <p class="list-group-item-text">
                Procurement Method Type: <strong>{{ auction.doc.procurementMethodType }}</strong>
              </p>
              <p>
                Value: <strong>{{ auction.doc.value.amount }} {{ auction.doc.value.currency }}</strong>
              </p>
              <p class="list-group-item-text text-right">
                <a href="/insider-auctions/{{ auction.doc._id }}"
                   type="button"
                   class="btn"
                   ng-class="{true: 'btn-default', false: 'btn-success'}[auction.doc.current_phase === 'announcement']"
                   ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') >= 0">
                  Auction view
                </a>
                <a href="/auctions/{{ auction.doc._id }}"
                   type="button"
                   class="btn"
                   ng-class="{true: 'btn-default', false: 'btn-success'}[auction.doc.current_phase === 'announcement']"
                   ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') === -1">
                  Auction view
                </a>
              </p>
            </div>
          </div>
        </div>
        <nav ng-if="offset && startid">
          <ul class="pager">
            <li class="next" ng-if="offset && startid"><a href="?offset={{offset}}&startid={{startid}}">Next page<span aria-hidden="true">&rarr;</span></a></li>
            <li class="previous"><a href="/archive"><span aria-hidden="true">&larr;</span>First page</a></li>
          </ul>
        </nav>
      </div>
    {% endraw %}
    <script type=text/javascript>
      var db_name = 'database';
      var db_url = location.protocol + '//' + location.host + '/database';
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/archive.js"></script>
  </body>
{% endblock %}
