{% set controller = "ListingController" %}
{% extends "base/base.html" %}
{% block head %}
  <style type="text/css">[ng\:cloak],[ng-cloak],[data-ng-cloak],[x-ng-cloak],.ng-cloak,.x-ng-cloak{display:none !important;}</style>
  <link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
  <link href="/static/css/all.css" rel="stylesheet" crossorigin="anonymous">
  <title>Auctions listing</title>
{% endblock %}
{% block body %}
  <body>
    <noscript>
      For full functionality of this site it is necessary to enable JavaScript.
      Here are the http://www.enable-javascript.com
      instructions how to enable JavaScript in your web browser.
    </noscript>
    {% raw %}
      <div class="container" ng-cloak>
        <div class="list-group" >
          <nav>
            <ul class="pager">
              <div ng-if="hasNext()">
                <li class="next"><a href="?offset={{offset}}">Next page<span aria-hidden="true">&rarr;</span></a></li>
              </div>
              <li ng-if="hasPrev()" class="previous"><a href="/"><span aria-hidden="true">&larr;</span>First page</a></li>
            </ul>
          </nav>
          <div class="list-group-item text-center"
               ng-repeat="auction in auctions">
            <h4 ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') >= 0" class="list-group-item-heading">
              <a href="/insider-auctions/{{ auction.doc._id }}">
                Auction {{ auction.doc.auctionID }}
              </a>
            </h4>
            <h4 ng-show="(auction.doc.procurementMethodType || 'default').indexOf('dgfInsider') === -1" class="list-group-item-heading">
              <a href="/auctions/{{ auction.doc._id }}">
                Auction {{ auction.doc.auctionID }}
              </a>
            </h4>
            <p class="list-group-item-text">
              Start Date: {{ auction.doc.stages[0].start | date:"MM/dd/yyyy 'at' HH:mm:ss" }}
            </p>
            <p class="list-group-item-text">
              {{ auction.doc.title }}
            </p>
            <p class="list-group-item-text">
              Procurement Method Type: {{ auction.doc.procurementMethodType }}
            </p>
            <p class="list-group-item-text">
              Value: {{ auction.doc.value.amount }} {{ auction.doc.value.currency }}
            </p>
          </div>
        </div>
      </div>
    {% endraw %}
    <script type=text/javascript>
      var db_name = 'database';
      var db_url = location.protocol + '//' + location.host + '/database';
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>
    <script type="text/javascript" src="/static/js/vendor.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>
  </body>
{% endblock %}
